include ../basic/head
    title My settings | social network
body
    include ../basic/navbar
    div.jumbotron
        div.container
            div.row
                div.col-xs-2.left
                    include ../basic/main-menu
                div.row
                    div.col-xs-9.text-center
                        h1.h1 My settings
                        form(action="/settings" method="post")
                            div.form-group
                                label(for="first-name").text-capitalize Your name:
                                if user.name
                                    span= ' ' + user.name
                                input#first-name.form-control(type="text", placeholder="name", autofocus, name="firstname")
                            div.form-group
                                label(for="last-name").text-capitalizeYour last name:
                                if user.last_name
                                    span= ' ' + user.last_name
                                input#last-name.form-control(type="text", placeholder="Last name", name="lastname")
                            div.form-group
                                label(for="e-mail").text-capitalize Your E-mail:
                                if user.e_mail
                                    span= ' ' +user.e_mail
                                input#e-mail.form-control(type="text", placeholder="E-mail", name="email")
                            div.form-group
                                label(for="website").text-capitalize Your website:
                                if user.website
                                    span=' ' + user.website
                                input#website.form-control(type="text", placeholder="website", name="website")
                            div.form-group
                                label(for="pic").text-capitalize Your pic
                                if user.pic
                                    img.img-thumbnail(alt="200x200", src=user.pic, style="width: 200px; height: 200px;")
                                input#pic.form-control(type="file" name="pic" accept="image/*" disabled)
                                br
                                span.text-warning Image type can only be .jpeg or .png format and file size above 4mb.
                            div.form-group
                                label(for="pass").text-capitalize Your password:
                                input#pass.form-control(type="text", placeholder="pass", name="pass")
                            if errorMessage
                                br
                                div.text-danger.h2= errorMessage
                            if successMessage
                                br
                                span.h2.text-success= successMessage
                            button.btn.btn-lg.btn-success.btn-block(type="submit") Submit
                        h3.h2 Or delete your account
                        form(action="/deleteuser", method="post")
                            button.btn.btn-lg.btn-block.btn-danger(type="submit") Delete my account
        //script(src="/vendor/js/jquery.min.js")
        //script(src="/vendor/js/bootstrap.min.js")
        //script(src="/js/settings/index.js")