include ../basic/head
    link(href="/css/message.css" rel="stylesheet")
    title= user.username + ' | social network'
body
    include ../basic/navbar
    div.jumbotron
        div.container
            div.row
                //
                    Start menu
                div.col-xs-2.left
                    include ../basic/main-menu
                //
                    end menu
                //
                    Start message
                div.row
                    div.col-xs-9
                        div.container.message-block
                            h2.h2.text-center Dialog with
                                span= ' ' + companion
                            div.message-holder#message-holder
                                if messages
                                    each message in messages
                                        //if current user is author then container right
                                        if user.username == message.username
                                            div.message-container.text-right.message-my
                                                div
                                                    span.username.text-capitalize= message.username
                                                div.text-container
                                                    pre= message.text
                                                div.data-container.text-right
                                                    span= message.create
                                        else
                                            //else container left
                                            div.message-container.text-left.message-friend
                                                div
                                                    span.username.text-capitalize= message.username
                                                div.text-container
                                                    pre= message.text
                                                div.data-container.text-left
                                                    span= message.create
                                else
                                    div.text-center
                                        h2.h2 You have no messages with
                                            span= ' ' + companion + ' '
                                        br
                                        span Start chat now!
                            //form for posting message
                        div.container
                            div.form-container
                                form(method="post" action="/send/message/" + companion).form-group
                                    textarea(rows=4, name="text" placeholder="Type some text then press enter or button below.").form-control#newmessage
                                    if errorMessage
                                        div.text-danger= errorMessage
                                    div.container.text-center
                                        button(type="submit").btn.btn-primary#submit-message Send
    script(src="/vendor/js/jquery.min.js")
    script(src="/js/message/message.js")